<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
       .layout{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;
        
       }
        
    </style>
</head>
<body>
    <div class="layout">
        <div>Fareena</div>
        <div>Fareena 1</div>
        <div>Fareena 2</div>
        <div>Fareena 3</div>
    </div>
</body>
</html>